<h1 class="title">Welcome to Inana Music</h1>

<div class="contact">
  <h2 class="subtitle">Contact</h2>
<ul>
  <li><a class="contact--link" href="http://www.nativerhythms.co.za/">Booking (Music)</a></li>
  <li><a class="contact--link" href="http://www.gaenor.co.za/veronnica-wolpendz/">Booking (Acting, Voice Over)</a></li>
  <li><a class="contact--link" href="https://twitter.com/inanamusic">Twitter</a></li>
  <li><a class="contact--link" href="https://www.facebook.com/pages/Inana/165939773439951">Facebook</a></li>
</ul>
</div>

<!--
<div class="background">
    <%= image_tag "IMG_3052@2x.jpg", :alt => "me, Inana" %>
</div>
-->