<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Inana :: Inana Music</title>
  <meta name="viewport" content="initial-scale=1">
  <meta name="description" content="Online profile of Inana, south african singer, song-writer, actress, voice over artist and public speaker">
  <meta name="keywords" content="music, south africa, facebook, instagram, youtube, twitter, veronnica wolpendz">

  <meta name="twitter:card" content="Online profile of Inana">
  <meta name="twitter:url" content="http://www.inana.co.za">
  <meta name="twitter:title" content="Inana Music">
  <meta name="twitter:description" content="Online profile of Inana, south african singer, song-writer, actress, voice over artist and public speaker">
  <meta name="twitter:image" content="/assets/inana-twitter.png">

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<%= yield %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <%= javascript_include_tag "application" %>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-13273928-4', 'inana.co.za');
        ga('send', 'pageview');

    </script>
</body>
</html>